<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="list-group mt-3" style="max-height: 250px;" th:fragment="fragment-empty-group">
        <div style="position: sticky; top: 0; background-color: white; z-index: 1;">
            <div class="list-group-item list-group-item-action disabled bg-light" tabindex="-1">
                <span>그룹이 존재하지 않습니다.</span>
            </div>
        </div>
        <div>
            <div class="list-group-item">
                <span>앱에서 그룹을 생성해주세요.</span>
            </div>
        </div>
    </div>
</html>
