<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header" />
<body>
<!--
https://mdbootstrap.com/docs/standard/extended/comments/#section-3
-->

<div class="container">
  <div th:replace="admin/fragments/bodyHeader :: bodyHeader"/>

  <div class="container">
    <div class="row d-flex justify-content-center">
      <div>
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-start align-items-center">
              <div>
                <h6 class="fw-bold text-primary mb-1" th:text="${notice.title}">
                  제목
                </h6>
              </div>
            </div>

            <p class="mt-3 mb-4 pb-2" th:text="${notice.content}">
              공지 내용
            </p>

            <div class="small d-flex justify-content-end">
              <p class="text-muted small mb-0"
                 th:text="${#temporals.format(notice.noticeTime, 'yyyy-MM-dd HH:mm ')}">
                날짜
              </p>
            </div>

          </div>

            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
              <div class="float-end mt-2 pt-1">
                <a class="btn btn-primary btn-sm" th:href="|/admin/notice/${notice.id}/edit|">공지 수정</a>
                <a class="btn btn-danger btn-sm" th:href="|/admin/notice/|">공지 삭제</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <div th:replace="admin/fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
