<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <!-- 날짜 / 스레드명 / 로깅레벨 / 로그 최대 글자수(36) / 메소드명:줄 / 로그메시지 -->
    <property name="LOG_PATTERN_COLOR" value = "%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%method:%line) - %yellow(%msg%n)"></property>
    <property name="LOG_PATTERN_WITHOUT_COLOR" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method:%line - %msg%n" />
    <property name="TIME_CHECK_LOG_PATTERN_COLOR" value = "%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %yellow(%msg%n)"></property>

    <!-- appender는 로그를 어떤 방식으로 넣을 것인지 설정 -->
    <appender name="TIME_CHECK" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>logs/TimeCheck.log</file>
        <encoder>
            <pattern>${TIME_CHECK_LOG_PATTERN_COLOR}</pattern>
        </encoder>
    </appender>

    <appender name="DeletionTask" class="ch.qos.logback.core.FileAppender">
        <file>logs/DeletionTask.log</file>
        <append>true</append> <!-- 새로운 로그는 기존 로그 파일의 끝에 추가 -->
        <encoder>
            <pattern>${LOG_PATTERN_WITHOUT_COLOR}</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE_INFO" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>logs/ServiceInfo.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN_COLOR}</pattern>
        </encoder>
    </appender>

    <appender name="SERVICE_ERROR" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>logs/ServiceError.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN_COLOR}</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.FileAppender">
        <file>logs/Application.log</file>
        <append>true</append>
        <encoder>
            <pattern>${LOG_PATTERN_COLOR}</pattern>
        </encoder>
    </appender>


    <!-- 분리된 로그 파일 로그 설정 -->
    <logger name="com.map.gaja.global.schedule.DeletionTask" level="info" additivity="false">
        <appender-ref ref="DeletionTask" /> <!-- 삭제 스케줄링 -->
    </logger>

    <logger name="com.map.gaja.global.log.TimeCheckLogAspect" level="info" additivity="false">
        <appender-ref ref="TIME_CHECK"></appender-ref> <!-- 로직 시간 측정 -->
    </logger>

    <logger name="com.map.gaja" level="info" additivity="false">
        <appender-ref ref="SERVICE_INFO" /> <!-- 서비스 운영 Info 로그 -->
        <appender-ref ref="SERVICE_ERROR" /> <!-- 서비스 운영 Error 로그 -->
    </logger>

    <root level="info">
        <appender-ref ref="APPLICATION" /> <!-- 프로젝트 실행 로그 -->
    </root>
</configuration>