<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <!-- 날짜 / 스레드명 / 로깅레벨 / 로그 최대 글자수(36) / 메소드명:줄 / 로그메시지 -->
    <property name="LOG_PATTERN" value = "%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %cyan(%logger{36}.%method:%line) - %yellow(%msg%n)"></property>

    <!-- appender는 로그를 어떤 방식으로 넣을 것인지 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> <!-- 콘솔에 로그 출력 -->
        <!-- 어떤 패턴으로 인코딩해서 출력할 것인지 -->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- 클래스 별 로그 파일 분리 -->
    <appender name="ImageDeletionTask" class="ch.qos.logback.core.FileAppender"> <!-- 파일에 로그 출력 -->
        <file>logs/ImageDeletionTask.log</file>
        <append>true</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- 분리된 로그 파일 로그 설정 -->
    <logger name="com.map.gaja.global.schedule.ImageDeletionTask" level="DEBUG" additivity="false">
        <appender-ref ref="ImageDeletionTask" />
    </logger>


    <!-- 글로벌 로거라 모든 클래스에 대한 로그들이 콘솔에 출력. -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>