<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: header" />
<body>
<!--
https://mdbootstrap.com/docs/standard/extended/profiles/#section-5
-->

<div class="container">
  <div th:replace="admin/fragments/bodyHeader :: bodyHeader"/>
    <section class="vh-40">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-10 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-user fa-6x"></i>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body p-4">
                                    <h6>사용자 정보</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="col-6 mb-3">
                                            <h6>Email</h6>
                                            <p class="text-muted" th:text="${users.email}">info@example.com</p>
                                        </div>
                                        <div class="col-6 mb-3">
                                            <h6>권한</h6>
                                            <p class="text-muted" th:text="${users.authority}">권한 표시</p>
                                        </div>
                                    </div>
                                    <h6>사용 정보</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                        <div class="row pt-1">
                                            <div class="col-6 mb-3">
                                                <h6>가입일</h6>
                                                <p class="text-muted" th:text="${#temporals.format(users.createdDay, 'yyyy-MM-dd HH:mm')}">가입시간</p>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <h6>최근 결제일</h6>
                                                <p class="text-muted" th:text="${#temporals.format(users.currentPaymentDay, 'yyyy-MM-dd HH:mm')}">결제 시간</p>
                                            </div>
                                        </div>
                                        <div class="row pt-1">
                                            <div class="col-6">
                                                <h6>보유 그룹 수</h6>
                                                <p class="text-muted" th:text="| ${users.groupCount}개|">21개</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <br/>
  <div th:replace="admin/fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
