<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row justify-content-md-center" th:fragment="fragment-excel-file-upload">
  <h2 class="fs-title">엑셀 업로드</h2>
  <div class="mt-3">
    <label for="excelFile" class="form-label">엑셀 파일을 업로드 해주세요.</label>
    <input type="file" class="form-control" name="excelFile" id="excelFile"
           accept=".xlsx, .xls, .csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
  </div>
</div>
</html>
