<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row justify-content-md-center" th:fragment="fragment-group-radio">
  <h2 class="fs-title">그룹 선택</h2>

  <script>
    const selectedColorClass = 'bg-success';
    const selectTextColorClass = 'text-white';
    function selectItem(element) {
      var listItems = document.querySelectorAll('.list-group-item');
      listItems.forEach(function(item) {
        item.classList.remove(selectedColorClass);
        item.classList.remove(selectTextColorClass);
      });
      element.classList.add(selectedColorClass);
      element.classList.add(selectTextColorClass);

      document.getElementById('selected-value').value = element.getAttribute('value');
      // console.log(document.getElementById('selected-value').value);
    }
  </script>

  <div class="list-group mt-3">
    <div class="list-group-item list-group-item-action" onclick="selectItem(this)" value="1">
      The current button
    </div>
    <div class="list-group-item list-group-item-action" onclick="selectItem(this)" value="2">
      A second item
    </div>
    <div class="list-group-item list-group-item-action" onclick="selectItem(this)" value="3">
      A third button item
    </div>
    <div class="list-group-item list-group-item-action" onclick="selectItem(this)" value="4">
      A fourth button item
    </div>
  </div>
  <input type="hidden" id="selected-value">
</div>
</html>
