<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="row justify-content-md-center" th:fragment="fragment-group-radio(groupList)">
  <h2 class="fs-title">그룹 선택</h2>

  <script>
    const selectedColorClass = 'bg-success';
    const selectTextColorClass = 'text-white';
    function selectItem(element) {
      var listItems = document.querySelectorAll('.list-group-item');
      listItems.forEach(function(item) {
        item.classList.remove(selectedColorClass);
        item.classList.remove(selectTextColorClass);
      });
      element.classList.add(selectedColorClass);
      element.classList.add(selectTextColorClass);

      document.getElementById('groupId').value = element.getAttribute('value');
      // console.log(document.getElementById('selected-value').value);
    }
  </script>

  <div class="list-group mt-3" style="max-height: 250px;">
    <div style="position: sticky; top: 0; background-color: white; z-index: 1;">
      <div class="list-group-item list-group-item-action disabled bg-light" tabindex="-1">
        그룹을 클릭해서 선택해주세요.
      </div>
    </div>
    <div style="cursor:pointer; overflow-y: scroll;">
      <div class="list-group-item list-group-item-action" onclick="selectItem(this)" th:each="group: ${groupList}" th:value="${group.groupId}">
        <span th:text="|${group.groupName} (${group.clientCount})|">그룹명 (그룹 내 고객 수)</span>
      </div>
      <div class="list-group-item list-group-item-action list-group-item-light" data-bs-toggle="modal" data-bs-target="#groupCreationModal">
        <span class="fw-bold">그룹 추가</span>
      </div>
    </div>
  </div>
  <input type="hidden" name="groupId" id="groupId">
</div>
</html>
