<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="form-card" th:fragment="fragment-upload-status()">
  <h2 class="fs-title text-center">등록 결과</h2>
  <br><br>
  <div class="row justify-content-center">
    <div class="col-3">
      <img id="status-image" src="/image/loading.gif" class="fit-image">
    </div>
  </div>
  <br><br>
  <div class="row justify-content-center">
    <div class="col-7 text-center">
      <h5 id="status-message">고객 정보를 등록 중입니다. 기다려주세요!</h5>
    </div>
  </div>
</div>
</html>
