<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>가자맵 엑셀 추가</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" th:href="@{/image/logo.ico}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link th:href="@{/css/excel-form.css}" href="../css/excel-form.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/excel-form.js}" src="../js/excel-form.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}" src="../js/bootstrap.js"></script>

    <script>
        $(document).ready(function() {
          // 폼 submit 이벤트 처리
          $("#msform").submit(function(event) {
            event.preventDefault(); // 기본 submit 동작을 막음

            // Ajax 요청
            $.ajax({
              type: "POST",
              url: $(this).attr("action"),
              data: new FormData(this),
              processData: false,
              contentType: false,
              success: function(response) {
                // Ajax 요청이 성공하면 성공 상태 표시
                $("#status-image").fadeOut(500, function() {
                  $(this).attr("src", "/image/ok.png");
                }).fadeIn(500);
                $("#status-message").fadeOut(500, function() {
                  $(this).html("<span style='color: green'>" + response + "</span> 명의 고객 정보 등록에 성공하였습니다. 앱에서 확인해주세요!"); // 성공 메시지로 변경
                }).fadeIn(500);
                // console.log(response);
              },
              error: function(xhr, status, error) {
                // Ajax 요청이 실패하면 실패 상태 표시
                $("#status-image").fadeOut(500, function() {
                  $(this).attr("src", "/image/fail.png");
                }).fadeIn(500);


                let failMessage;
                if(xhr.status == 400) {
                    if(xhr.responseJSON == null || xhr.responseJSON.message == null) {
                        const result = xhr.responseJSON;
                        const failSize = result.failRowIdx.length;
                        const totalSize = result.totalSize;
                        const failIdxList = result.failRowIdx;
                        failMessage = "<span style='color: red'> " + failSize + "</span> / <span style='color: blue'>" + totalSize + "</span> <br>" +
                        "제약조건을 준수해서 엑셀 데이터를 작성해주세요. <br><br>" +
                        "다음 줄의 데이터가 잘못되었습니다. <br>" +
                        "<span style='color: red'>{ " + failIdxList + " }<span>";
                    }
                    else {
                        failMessage = xhr.responseJSON.message;
                    }

                }
                else if(xhr.status == 401 || xhr.status == 403) {
                    if(xhr.responseJSON == null || xhr.responseJSON.message == null) {
                        failMessage = "접근 권한 또는 로그인 정보 만료 문제입니다.<br>로그인을 다시 진행한 후 시도해주세요.";
                    }
                    else {
                        failMessage = xhr.responseJSON.message;
                    }
                }
                else {
                    if(xhr.responseJSON == null || xhr.responseJSON.message == null) {
                        failMessage = "알 수 없는 오류로 실패하였습니다.<br> 관리자에게 문의해주세요.";
                    }
                    else {
                        failMessage = xhr.responseJSON.message;
                    }
                }

                $("#status-message").fadeOut(500, function() {
                    $(this).html(failMessage);
                }).fadeIn(500);
                return;
              }
            });
          });

          // 새로고침 이벤트 처리
          /*$(window).on('beforeunload', function() {
            window.location.href = '/clients/file';
          });*/
        });
    </script>

</head>
<body>
    <div th:replace="fragments/group/group-creation-modal :: fragment-group-creation-modal">그룹 추가 모달창</div>

    <!-- MultiStep Form -->
    <div class="container-fluid" id="grad1">
        <div class="row justify-content-center mt-0">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 class="mt-3">
                        <img th:src="@{/image/logo.png}" style="height: 1em; margin-bottom: 0.15em;" alt="logo">
                        <strong>엑셀로 사용자 등록하기</strong>
                    </h2>
                    <p>모든 단계를 완료하면 사용자가 등록됩니다!</p>

                    <div sec:authorize="hasAuthority('VIP')"> <a href="/admin">관리자 페이지 이동</a></div>

                    <div class="row">
                        <div class="col-md-12 mx-0">
                            <form id="msform" action="/api/clients/file" method="post" enctype="multipart/form-data">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="personal"><strong>그룹 선택</strong></li>
                                    <li id="payment"><strong>엑셀 업로드</strong></li>
                                    <li id="confirm"><strong>등록 완료</strong></li>
                                </ul>
                                <fieldset>
                                    <div class="form-card">
                                        <div th:replace="fragments/group/group-radio :: fragment-group-radio(${groupList})">group-radio 공간</div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="다음 단계"/>
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div th:replace="fragments/excel-file-upload :: fragment-excel-file-upload">excel-file-upload 공간</div>
                                    </div>
                                    <input type="button" name="previous" class="previous action-button-previous" value="이전 단계"/>
<!--                                    <input type="button" name="make_payment" class="next action-button" value="완료"/>-->
                                    <input type="submit" name="make_payment" class="next action-button" value="완료"/>
                                </fieldset>
                                <fieldset>
                                    <div id="upload-success" th:replace="fragments/upload-status :: fragment-upload-status">등록 결과 공간</div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:40px; text-align:center; color: gray;">
                <span><a th:href="@{/policy/privacy.html}" target="_blank" style="color: gray;">개인정보 처리방침</a></span> |
                <span><a th:href="@{/policy/term.html}" target="_blank" style="color: gray;">서비스 이용약관</a></span> |
                <span><a th:href="@{/policy/location.html}" target="_blank" style="color: gray;">위치기반 서비스 이용약관</a></span> |
                <span><a href="https://icons8.com/" target="_blank" style="color: gray;">아이콘 - icons8.com</a></span>
            </div>
        </div>
    </div>
</body>
</html>